body {
    background: linear-gradient(to right, #192325, #1da0cc);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
  }
  .move-icon {
    height: 80px;
    width: 80px;
  }
  .move-button {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    padding: 30px 35px;
    border-radius: 90px;
    margin-right: 15px;
    border-width: 3px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .reset-button {
    padding: 8px;
    margin-top: 8px;
  }
  .result {
    font-size: 40px;
    font-weight: bold;
  }
  .both-icons {
    height: 50px;
  }
@media (max-width: 600px) {
  .title {
    font-size: 24px; /* Adjust title size for smaller screens */
  }
  .move-button {
    padding: 20px 25px; /* Adjust button padding for smaller screens */
  }
  .move-icon {
    height: 60px; /* Adjust icon size for smaller screens */
    width: 60px;
  }
  .result {
    font-size: 30px; /* Adjust result font size for smaller screens */
  }
}
